<main>
    {{#each products}}
        <div class=" product">
            <h1>Nombre del producto: {{this.title}}</h1>
            <p>Descripcion: {{this.description}}</p>
            <p>Categoria: {{this.category}}</p>
            <p>Code: {{this.code}}</p>
        </div>
    {{/each}}
</main>
