<div>
    <h1>Register</h1>
    <form id="register">
        <label>Name</label>
        <input name="firstName">
        <br>
        <label>LastName</label>
        <input name="lastName">
        <br>
        <label>Email</label>
        <input name="email">
        <br>
        <label>Age</label>
        <input name="age">
        <br>
        <label>Password</label>
        <input name="password">
        <br>

        <input type="submit">
    </form>
    <p>Have an account?<a href="/users/login">Click here</a></p>
</div>

<script src="/js/register.js"></script>